@import "common/var";
@import "mixins/mixins";

@include b(tree) {
    @include e(content) {
        display: flex;
        align-items: center;
    }
    @include e(expand-icon) {
        cursor: pointer;
        transform: rotate(0deg);
        transition: transform 0.3s ease-in-out;
        &.expanded {
            transform: rotate(90deg);
        }
        @include when(leaf) {
            cursor: default;
            .vl-icon__caret-right {
                color: transparent;
            }
        }
    }
}